.header img{
    height: 80px;
}
.header{
    text-align-last: center;
}

.header nav{
    background-color: black;
    line-height: 40px;
    font-size: 20px;
    text-align-last: left;
}

nav a{
    text-decoration: none;
    color:white;
    margin-right: 20px;
}