.product{
    display:flex;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
}

.product-name{
    color: blue;
    font-weight: 400;
}

.main-button{
    border-color: goldenrod;
}